In [2]:
import pandas as pd
import numpy as np
import heartpy as hp
import matplotlib.pyplot as plt

In [3]:
# read data from file
data = pd.read_csv('data-no-bad-signal.csv')
data

,name,age,weight,temperature,actual_systole,actual_diastole,estimated_systole,estimated_diastole,bpm,ibi,sdnn,rmssd,mad,ppg,timestamp
0,Dedi Suryadi,45,62,NaN,121,78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1731,1741,1744,1702,1742,1758,1776,1776,1773,1...",12/8/2023 13:37
1,Dedi Suryadi,45,62,NaN,121,78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1685,1671,1665,1599,1614,1631,1648,1663,1653,1...",12/8/2023 13:36
2,Dedi Suryadi,45,62,NaN,121,78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1818,1834,1852,1858,1923,1981,2047,2053,2129,2...",12/8/2023 13:36
3,op.nainggolan (boru),48,56,NaN,106,72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"2090,2071,2047,1984,1979,1952,1915,1840,1813,1...",12/7/2023 7:53
4,op nainggolan,60,60,NaN,153,104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"1846,1872,1881,1887,1894,1900,1872,1916,1975,2...",12/7/2023 7:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,andre,28,60,NaN,111,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2039,1955,1819,1758,1641,1615,1516,1525,1461,1...",11/18/2023 10:39
68,andre,28,60,NaN,111,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1700,1652,1650,1603,1603,1543,1559,1514,1535,1...",11/18/2023 10:38
69,andre,28,60,NaN,111,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1747,1786,1783,1853,1860,1833,1808,1811,1801,1...",11/18/2023 10:34
70,andre,28,60,NaN,111,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1776,1806,1809,1829,1827,1830,1834,1853,1846,1...",11/18/2023 10:33
71,andre,28,60,NaN,111,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1925,1937,1983,1968,1943,1962,1967,2005,2002,1...",11/18/2023 10:33

In [66]:
data_extraction = pd.DataFrame()

for i, ppg in enumerate(data['ppg']): 
  ppg = list(map(int, ppg.split(',')))

  try:
    data_extraction.at[i, 'actual_systole'] = data.at[i, 'actual_systole']
    data_extraction.at[i, 'actual_diastole'] = data.at[i, 'actual_diastole']
    data_extraction.at[i, 'age'] = data.at[i, 'age']
    data_extraction.at[i, 'weight'] = data.at[i, 'weight']
    wd, m = hp.process(np.array(ppg), sample_rate = 100.0)
    for key, value in m.items():
      data_extraction.at[i, key] = value
  except Exception as e:
    print(f"{i} - {e}")
    
data_extraction = data_extraction.dropna()
data_extraction.to_csv('data-extraction.csv', index = False)

c:\Python310\lib\site-packages\scipy\interpolate\_fitpack2.py:280: UserWarning:
The maximal number of iterations maxit (set to 20 by the program)
allowed for finding a smoothing spline with fp=s has been reached: s
too small.
There is an approximation returned but the corresponding weighted sum
of squared residuals does not satisfy the condition abs(fp-s)/s < tol.
  warnings.warn(message)

24 -
----------------
Could not determine best fit for given signal. Please check the source signal.
 Probable causes:
- detected heart rate falls outside of bpmmin<->bpmmax constraints
- no detectable heart rate present in signal
- very noisy signal (consider filtering and scaling)
If you're sure the signal contains heartrate data, consider filtering and/or scaling first.
----------------